<div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton" id="<%= dropdown_id %>" style="display: block;">
  <% if files.present? %>
    <ul>
      <% files.each do |item| %>
        <% if item[:type] == "dir" %>
          <li class="directory">
            <span class="directory-name" 
                  data-path="<%= item[:path] %>"
                  data-action="click->file-selection#toggleDirectory">
              <%= item[:name] %>
            </span>
          </li>
        <% else %>
          <li class="file">
            <label>
              <input type="<%= radio_fields.include?(dropdown_id) ? 'radio' : 'checkbox' %>"
                     class="<%= radio_fields.include?(dropdown_id) ? 'file-radio' : 'file-checkbox' %>"
                     name="<%= radio_fields.include?(dropdown_id) ? 'single-selection' : '' %>"
                     data-file-path="<%= item[:path] %>"
                     data-action="change->file-selection#updateField">
              <%= item[:name] %>
            </label>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>No files available for selection.</p>
  <% end %>
</div>
