<%= form_with(model: assignment) do |form| %>
  <% if assignment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>
      <ul>
        <% assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :assignment_name, style: "display: block" %>
    <%= form.text_field :assignment_name, placeholder: 'Assignment Name', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :repository_name, style: "display: block" %>
    <%= form.text_field :repository_name, placeholder: 'Repository Name', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :approved_files, style: "display: block" %>
    <%= form.text_area :files_to_submit,
    placeholder: 'Newline-separated list of files that students must submit',
    class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Submit', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<%= link_to "Back to Assignments", assignments_path, class: 'btn btn-primary back-btn' %>
