<%= form_with model: [@assignment, @test], local: true do |form| %>
  <div class="form-grid">
    <div class="form-group">
      <%= form.label :test_grouping_position, "Group Number" %>
      <%= form.text_field :test_grouping_position, class: "form-control" %>
    </div>
    <div class = "form-group">
      <%= form.label :name %>
        <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class = "form-group">
      <%= form.label :points %>
        <%= form.number_field :points, class:"form-control" %>
    </div>
    <div class = "form-group">
      <%= form.label :test_type %>
      <%= form.select :test_type, 
                      options_for_select([['coverage', 'coverage'], 
                                          ['compile', 'compile'], 
                                          ['approved_includes', 'approved_includes'], 
                                          ['memory_errors', 'memory_errors'], 
                                 ['unit', 'unit'], 
                                          ['i_o', 'i_o'], 
                                          ['performance', 'performance'], 
                                          ['script', 'script']], 
                                         @test.test_type), 
                        { include_blank: 'Please select a test type' },
                      onchange: "loadTestPartial(this.value)", 
                      class: "form-control" %>
    </div>

    <div data-controller="file-selection" 
         data-file-selection-assignment-id-value="<%= @assignment.id %>"
         data-file-selection-tree-value="<%= @file_tree.to_json %>">
      <div class="form-group">
        <%= form.label :target %>
        <%= form.text_field :target, class: "form-control", id: "test_target", readonly: true %>

        <div id="target-file-tree-dropdown" class="dropdown-content" style="display: none;">
          <!-- Tree will be rendered here -->
        </div>
      </div>

      <div class="form-group">
        <%= form.label :include %>
        <%= form.text_field :include, class: "form-control", id: "test_include", readonly: true %>

        <div id="include-file-tree-dropdown" class="dropdown-content" style="display: none;">
          <!-- Tree will be rendered here -->
        </div>
      </div>
    </div>    
    <div class="form-group">
        <%= form.label :position %>
        <%= form.text_field :position , class:"form-control"%>
    </div>

    <div class = "form-group">
      <%= form.label :show_output %>
        <%= form.check_box :show_output%>
    </div>
    <div class = "form-group">
      <%= form.label :skip %>
      <%= form.check_box :skip %>
    </div>
    <div class = "form-group">
      <%= form.label :timeout %>
        <%= form.number_field :timeout, class:"form-control" %>
    </div>
    <div class="field">
    <%= form.label :visibility %>
    <%= form.select :visibility, options_for_select([['Hidden', 'hidden'],
                                                    ['After Due Date', 'after_due_date'],
                                                    ['After Published', 'after_published'],
                                                    ['Visible', 'visible']], @test.visibility || 'visible'), class:"form-control" %>
</div>
  <div id="dynamic-test-block-container">
    <% if @test.test_type.present? %>
      <%= render "assignments/test_blocks/#{@test.test_type}", form: form , test: @test %>
    <% end %>
  </div>

  <div class="form-actions">
  <%= form.submit @test.persisted? ? "Update Test" : "Create Test", class: "btn btn-primary" %>
</div>
<% end %>

<% if @test.persisted? %>
  <div class="delete-actions">
    <%= button_to "Delete Test", assignment_test_path(@assignment, @test), method: :delete, data: { confirm: "Are you sure?", turbo: false }, class: "btn btn-danger" %>
  </div>
<% end %>