<%= form_with model: [@assignment, @test], local: true do |form| %>
	<div class="container-fluid">
	  <div class="row mb-3">
		<div class="col-md-6">
		  <%= form.label :name, "Test Name" %>
                <%= form.text_field :name, class:"form-control" %>
		</div>
		<div class="col-md-6 d-flex align-items-center justify-content-end">
		  <% if @test.persisted? %>
			<%= button_to "Delete Test", assignment_test_path(@assignment, @test), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger me-2" %>
		  <% end %>
		  <%= form.submit @test.persisted? ? "Update Test" : "Create Test", class: "btn btn-primary" %>
		</div>
	  </div>
  
	  <hr>
  
	  <div class="row mb-3">
		<div class="col-md-4">
		  <%= form.label :test_grouping_position, "Grouping Number" %>
		  <%= form.text_field :test_grouping_position, class: "form-control" %>
		</div>
		<div class="col-md-4">
		  <%= form.label :position, "Test Number" %>
		  <%= form.text_field :position , class:"form-control"%>
		</div>
		<div class="col-md-4">
		  <%= form.label :points %>
		  <%= form.number_field :points, class:"form-control" %>
		</div>
	  </div>
  
	  <hr>
  
	  <div class="row mb-3">
		<div class="col-md-4">
		  <%= form.label :test_type, "Test Type" %>
		  <%= form.select :test_type, options_for_select([
		  ['coverage', 'coverage'],
			['compile', 'compile'],
			['approved_includes', 'approved_includes'],
			['memory_errors', 'memory_errors'],
			['unit', 'unit'],
			['i_o', 'i_o'],
			['performance', 'performance'],
			['script', 'script']
		  ], @test.test_type), { include_blank: 'Please select a test type'},class: "form-control" %>
		</div>
		<div class="col-md-4">
		  <%= form.label :target %>
		  <%= form.text_field :target, class:"form-control" %>
		</div>
		<div class="col-md-4 d-flex align-items-center">
		  <div class="form-check me-3">
			<%= form.check_box :show_output, class: "form-check-input" %>
			<%= form.label :show_output, class: "form-check-label" %>
		  </div>
		  <div class="form-check">
			<%= form.check_box :skip, class: "form-check-input" %>
			<%= form.label :skip, class: "form-check-label" %>
		  </div>
		</div>
	  </div>
  
	  <div class="row mb-3">
		<div class="col-md-12">
		  <%= form.label :include, 'Includes' %>
		  <%= form.text_area :include, class:"form-control", placeholder: "Add .cpp or .h paths separated by spaces"%>
		  </div>
	  </div>
  
	  <div class="row mb-3">
		<div class="col-md-6">
			<%= form.label :timeout, "Timeout" %>
			<div class="input-group" style="display: flex; align-items: center;">
			<%= form.number_field :timeout, class: "form-control", placeholder: "0 seconds", id: "timeout-field", style: "max-width: 100px; text-align: right;" %>
			<span class="input-group-text timeout-label">Seconds</span>
			</div>
		</div>
		<div class="col-md-6">
			<%= form.label :visibility, 'Gradescope Visibility' %>
			<%= form.select :visibility, options_for_select([
			['Hidden', 'hidden'],
			['After Due Date', 'after_due_date'],
			['After Published', 'after_published'],
			['Visible', 'visible']
			], @test.visibility || 'visible'), class: "form-control" %>
		</div>
		</div>

	
	
		
		

  
	  <hr>
  
	  <div id="dynamic-test-block-container">
		<% if @test.test_type.present? %>
		  <%= render "assignments/test_blocks/#{@test.test_type}", form: form, test: @test %>
		<% end %>
	  </div>
	</div>
  <% end %>
  