<%= form_with model: [@assignment, @test], local: true, html: { 'data-new-record': !@test.persisted? } do |form| %>
    <div class="form-grid w-100">
        <div class="d-flex form-group justify-content-between">
            <div class="w-50">
                <label for="test_name">Test Name<span style="color: red;"> *</span></label>
                <%= form.text_field :name, class:"form-control", id: "test_name" %>
            </div>
            <div class="d-flex align-items-center">
                <% if @test.persisted? %>
                    <div class="delete-actions">
                        <%= button_to "Delete Test", assignment_test_path(@assignment, @test), method: :delete, data: { confirm: "Are you sure?", turbo: false }, class: "btn btn-danger" %>
                    </div>
                <% end %>
                <div class="form-actions">
                    <%= form.submit @test.persisted? ? "Update Test" : "Create Test", class:"btn btn-primary", id: @test.persisted? ? "update_test_button" : "create_test_button" %>
                </div>
            </div>
        </div>

		<hr>

		<div class="justify-content-between d-flex">
			<div class="form-group">
				<%= form.label :test_grouping_position, "Grouping Number" %>
				<%= form.text_field :test_grouping_position, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= form.label :position, "Test Number" %>
				<%= form.text_field :position , class:"form-control"%>
			</div>

			<div class="form-group">
			<label for="test_points">Points<span style="color: red;"> *</span></label>
  <%= form.number_field :points, class:"form-control", id: "test_points" %>
</div>
		</div>

		<hr>

        <div class="d-flex">
            <div class="form-group align-items-center justify-content-space-evenly">
                <div>
				<label for="test_type">Test Type<span style="color: red;"> *</span></label>
                    <% if @test.persisted? %>
                    	<%= form.text_field :test_type, class: "form-control", readonly: true %>
                    <% else %>
						<%= form.select :test_type, options_for_select(
							[['coverage', 'coverage'],
							['compile', 'compile'],
							['approved_includes', 'approved_includes'],
							['memory_errors', 'memory_errors'],
							['unit', 'unit'],
							['i_o', 'i_o'],
							['performance', 'performance'],
							['script', 'script']],
							@test.test_type),
							{ include_blank: 'Please select a test type',
							class: "form-control"}, id: "test_type",
							onchange: "loadTestPartial(this.value)" %>
                    <% end %>
                </div>
                <div>
					
                    <%= form.label :target %>
                    <%= form.select :target,
						options_for_select(
							@assignment.files_to_submit["files_to_submit"].map { |file| [file, file] },
							@test.target),
						{ class:"form-control",
						include_blank: 'Select a target file' } %>
                </div>
    <label for="test_target">Target
        <% if @test.persisted? %>
            <% unless ["compile", "memory_errors", "script"].include?(@test.test_type) %>
                <span id="target-asterisk" style="color: red; margin-left: 2px;"> *</span>
            <% end %>
        <% else %>
            <span id="target-asterisk" style="color: red; margin-left: 2px;"> *</span>
        <% end %>
    </label>
    <% if @test.persisted? %>
        <%= form.text_field :target, class: "form-control"%>
    <% else %>
        <%= form.text_field :target, class: "form-control", id: "test_target" %>
    <% end %>
</div>



                <div class="d-flex">
                    <div class="w-50 d-flex align-items-center">
                        <%= form.check_box :show_output %>
                        <%= form.label :show_output, class: 'ml-2' %>
                    </div>
                    <div class="w-50 d-flex align-items-center">
                        <%= form.check_box :skip %>
                        <%= form.label :skip, class: 'ml-2' %>
                    </div>
                </div>
            </div>

            <div class="form-group justify-content-space-evenly h-100">
                <div class="flex-grow-1 h-100">
                    <%= form.label :include, 'Includes' %>
                    <%= form.text_area :include , class:"form-control includes", placeholder: "Add .cpp or .h paths separated by spaces"%>
                </div>
            </div>
        </div>

		<div class="d-flex justify-content-between">
			<div class="form-group">
				<%= form.label :timeout %>
				<%= form.number_field :timeout, class:"form-control" %>
			</div>
			<div class="field form-group">
				<%= form.label :visibility, 'Gradescope Visibility' %>
				<%= form.select :visibility, options_for_select(
					[['Hidden', 'hidden'],
					['After Due Date', 'after_due_date'],
					['After Published', 'after_published'],
					['Visible', 'visible']], @test.visibility || 'visible'),
					class:"form-control" %>
			</div>
		</div>

        <hr>

        <div id="dynamic-test-block-container">
            <% if @test.test_type.present? %>
            <%= render "assignments/test_blocks/#{@test.test_type}", form: form , test: @test %>
            <% end %>
        </div>
    </div>
<% end %>


