<div class="assignments-wrapper">
  <h1>Assignments</h1>

<h1>Assignments</h1>

<div class="flex justify-center">
  <%= render partial: "search/form", locals: { results: [] } %>
</div>

<div id="assignments">
  <% @assignments.each do |assignment| %>
    <div class="assignment-item">
      <p><strong>Assignment: </strong><%= assignment.assignment_name %></p>
      <p><strong>Repository Name: </strong><%= assignment.repository_name %></p>
      <%= link_to "Show This Assignment", assignment_path(assignment), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Create Assignment", new_assignment_path, class: "btn btn-primary create-assignment-btn" %>
</div>
