<%= stylesheet_link_tag 'assignment_show', media: 'all' %>

<h1>Assignment: <%= @assignment.assignment_name %></h1>

<!-- Display tests for the assignment -->
<div class="container">
  <div class="row">
    <div id = 'test' class="col-md-6">
      <h2>Tests for <%= @assignment.assignment_name %></h2>
      <div class="scrollable-container">
        <div class="test-grouping-list" data-controller="test_grouping_card">
          <% @test_groupings.sort_by(&:position).each do | test_grouping| %>
            <div class="test-grouping-card">
              <div class="test-grouping-title" data-action="click->test-grouping-#toggleTestGrouping data-test-grouping-id="<%= test_grouping.id %>">
                <%= "#{test_grouping.position}) #{test_grouping.name}" %>
              </div>

              <div class="test-list" data-controller="test_card" style="display: none;">
                <% test_grouping.tests.sort_by(&:position).each do |test| %>
                  <div class="test-card data-test-id="<%= test.id %>">
                    <%= "#{test.position}) #{test.name} (#{test.points} pts.)" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    
      <!-- Link to add a new test -->
      <%= link_to 'Add new test', assignment_path(@assignment, test_id: nil) %>
      <%= link_to 'Create and Download ZIP', create_and_download_zip_assignment_path(@assignment), class: 'btn btn-primary' %>

    </div>

    <div id = 'details' class="col-md-6">
      <!-- Form to create or edit a test -->
      <div class="test-form">
        <h2><%= @test.persisted? ? "Edit Test for Assignment #{@assignment.assignment_name}" : "New Test for Assignment #{@assignment.assignment_name}" %></h2>
        
        <%= form_with model: [@assignment, @test], local: true do |form| %>
          <div class="form-grid">
            <div class = "form-group">
              <%= form.label :name %>
              <%= form.text_field :name, class:"form-control" %>
            </div>
            <div class = "form-group">
              <%= form.label :points %>
              <%= form.number_field :points, class:"form-control" %>
            </div>
            <div class = "form-group">
              <%= form.label :test_type %>
              <%= form.select :test_type, options_for_select([['coverage', 'coverage'], ['compile', 'compile'], ['approved_includes', 'approved_includes'], ['memory_errors', 'memory_errors'], ['unit', 'unit'], ['i/o', 'i/o'], ['performance', 'performance'], ['script', 'script']], @test.test_type), class:"form-control" %>
            </div>
          
            <div class = "form-group">
            <%= form.label :target %>
            <%= form.text_field :target, class:"form-control" %>
          </div>
            <div class = "form-group">
            <%= form.label :include %>
            <%= form.text_area :include , class:"form-control"%>
            </div>
            <div class = "form-group">
            <%= form.label :position %>
            <%= form.text_field :position , class:"form-control"%>
          </div>

            <div class = "form-group">
              <%= form.label :show_output %>
              <%= form.check_box :show_output%>
            </div>
            <div class = "form-group">
              <%= form.label :skip %>
              <%= form.check_box :skip %>
            </div>
            <div class = "form-group">
              <%= form.label :timeout %>
              <%= form.number_field :timeout, class:"form-control" %>
            </div>
            <div class="field">
              <%= form.label :visibility %>
              <%= form.select :visibility, options_for_select([['Hidden', 'hidden'], 
                                                                ['After Due Date', 'after_due_date'], 
                                                                ['After Published', 'after_published'], 
                                                                ['Visible', 'visible']], @test.visibility || 'visible'), class:"form-control" %>
            </div>
            <div class = "form-group">
              <%= form.label :actual_test %>
              <%= form.text_area :actual_test, class:"form-control" %>
            </div>
          </div class = "form-group">
          <div class="form-actions">
            <%= form.submit @test.persisted? ? "Update Test" : "Create Test" , class:"btn btn-primary"%>
          </div>
        <% end %>

        <% if @test.persisted? %>
          <div class="delete-actions">
            <%= button_to "Destroy this test", assignment_test_path(@assignment, @test), method: :delete, data: { confirm: "Are you sure?", turbo: false }, class: "btn btn-danger" %>
          </div>
        <% end %>
        
      <%= link_to 'Back to Assignment', assignments_path %>
      </div>
    </div>
  </div>
</div>
