<%= stylesheet_link_tag 'assignment_show', media: 'all' %>
<h1>Assignment: <%= @assignment.assignment_name %></h1>

<!-- Display tests for the assignment -->
<div class="container" data-assignment-id="<%= @assignment.id %>">
  <div class="row">
    <div id = 'test' class="col-md-6">
      <h2>Tests for <%= @assignment.assignment_name %></h2>
      <div class="scrollable-container">
      <%= form_with model: [@assignment, TestGrouping.new], url: assignment_test_groupings_path(@assignment),
      local: true, html: { class: "d-flex align-items-center new-test-grouping-form" } do |form| %>
      <div class="form-group mb-0" style="margin-right: 10px;">
        <%= form.text_field :name, class: "form-control", placeholder: "New Test Grouping" %>
      </div>
      <button type="submit" class="btn btn-primary align-items-center">
        <span class="plus-button">&#43;</span> <!-- Unicode plus sign -->
      </button>
    <% end %>
        <div class="test-grouping-list" data-controller="test_grouping_card">
          <% if @test_groupings.present? %>
            <% @test_groupings.sort_by(&:position).each do | test_grouping | %>
              <div id="test-grouping-card-<%= test_grouping.id %>" class="test-grouping-card">
              <div class="test-grouping-title"
              data-action="click->test-grouping-#toggleTestGrouping"
              data-test-grouping-id="<%= test_grouping.id %>">
                <% if @editing_test_grouping_id == test_grouping.id %>
                  <!-- If we are editing the current test grouping, show the form -->
                  <%= form_with model: test_grouping, url: assignment_test_grouping_path(@assignment, test_grouping), method: :patch, local: true, remote: true do |form| %>
                    <div class="d-inline-block">
                      <%= form.text_field :name, class: "form-control d-inline", value: test_grouping.name %>
                    </div>
              
                    <!-- Save and Cancel buttons -->
                    <%= form.submit "Save", class: "save-button" %>
                    <button class="btn btn-sm btn-secondary" onclick="window.location.reload()">Cancel</button>
                  <% end %>
                <% else %>
                  <!-- Otherwise, show the test grouping name and the edit/delete buttons -->
                  <%= "#{test_grouping.position}) #{test_grouping.name}" %>
                  
                  <!-- Edit Button - triggers the edit action via AJAX -->
                  <%= button_to "✎", edit_assignment_test_grouping_path(@assignment, test_grouping), method: :get, remote: true, format: :js, class: "edit-button" %>
                  
                  <!-- Delete Button -->
                  <%= button_to "x", assignment_test_grouping_path(@assignment, test_grouping), method: :delete, remote: true, format: :js, class: "delete-button" %>
                <% end %>
              </div>

              <div class="test-list" 
                id="test-list-<%= test_grouping.id %>" 
                data-controller="test_card" 
                data-grouping-id="<%= test_grouping.id %>">
                <% test_grouping.tests.sort_by(&:position).each do | test | %>
                  <div class="test-card" data-test-id="<%= test.id %>">
                    <%= link_to "#{test.position}) #{test.name} (#{test.points} pts.)", assignment_path(@assignment, test_id: test.id), class: "text-link" %>
                  </div>
                <% end %>
              </div>
              </div>
            <% end %>
          <% else %>
            <p> No tests found for this assignment. </p>
          <% end %>
        </div>
      </div>


      <!-- Link to add a new test -->
      <%= link_to 'Add new test', assignment_path(@assignment, test_id: nil), class: 'btn btn-primary' %>
      <%= link_to 'Create and Download ZIP', create_and_download_zip_assignment_path(@assignment), class: 'btn btn-primary' %>
      
      <%= render 'file_tree' %>
      
      
      </div>

    <div id = 'test-details' class="col-md-6">
      <!-- Form to create or edit a test -->
      <div id="test-form" class="test-form">
        <h2><%= @test.persisted? ? "Edit Test for Assignment #{@assignment.assignment_name}" : "New Test for Assignment #{@assignment.assignment_name}" %></h2>
        <%= link_to 'Back to Assignment', assignments_path, class: 'btn btn-primary back-btn' %>
        <%= render 'assignments/test_form', assignment: @assignment, test: @test %>
      </div>
    </div>
  </div>
</div>


