<h1>Tests for <%= @assignment.assignment_name %></h1>

<% if @tests.any? %>
  <ul>
    <% @tests.each do |test| %>
      <li>
        <%= test.name %> - <%= test.points %> points - <%= test.type %> 
        <%= link_to "Edit", edit_assignment_test_path(@assignment, test) %> |
        <%= link_to "Delete", assignment_test_path(@assignment, test), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No tests available for this assignment.</p>
<% end %>

<%= link_to "Add new test", new_assignment_test_path(@assignment), class: "btn btn-primary" %>
<%= link_to "Back to assignments", assignments_path %>
