<h1>User Assignments for <%= @user.username %></h1>

<%= form_with(url: update_user_assignments_path(@user), method: :patch) do |f| %>
  <ul>
    <% @assignments.each do |assignment| %>
      <li>
        <%= f.check_box :assignment_ids, { checked: @user_assignments.include?(assignment), multiple: true }, assignment.id, false %>
        <%= assignment.repo_name %>
      </li>
    <% end %>
  </ul>

  <%= f.submit "Update Assignments" %>
<% end %>