<!-- app/views/users/show.html.erb -->
<div class="container users-show">
    <h1><%= @user.name %>'s Assignments</h1>

    <%= form_tag update_user_assignments_path(@user), method: :post do %>
    
    <table>
        <thead>
            <tr>
                <th>Repository</th>
                <th>Read
                    <button type="button" id="select-all-read">Select All</button>
                    <button type="button" id="revoke-all-read">Revoke All</button>
                </th>
                <th>Write
                    <button type="button" id="select-all-write">Select All</button>
                    <button type="button" id="revoke-all-write">Revoke All</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <% @assignments.each do |assignment| %>
            <tr>
                <td><%= assignment.repository_name %></td>
                <td><%= check_box_tag "read_assignment_ids[]", assignment.id, @user.assignments.include?(assignment), id: "read_assignment_#{assignment.id}" %></td>
                <td><%= check_box_tag "write_assignment_ids[]", assignment.id, @user.assignments.include?(assignment), id: "write_assignment_#{assignment.id}" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <%= submit_tag 'Save Changes' %>
    <% end %>

    <script>
        document.getElementById('select-all-read').addEventListener('click', function() {
            var checkboxes = document.querySelectorAll('input[id^="read_assignment_"]');
            var allChecked = Array.from(checkboxes).every(cb => cb.checked);
            checkboxes.forEach(function(checkbox) {
            checkbox.checked = !allChecked;
            });
        });
        document.getElementById('revoke-all-read').addEventListener('click', function() {
            var checkboxes = document.querySelectorAll('input[id^="read_assignment_"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });
        });
        document.getElementById('select-all-write').addEventListener('click', function() {
            var checkboxes = document.querySelectorAll('input[id^="write_assignment_"]');
            var allChecked = Array.from(checkboxes).every(cb => cb.checked);
            checkboxes.forEach(function(checkbox) {
            checkbox.checked = !allChecked;
            });
        });
        document.getElementById('revoke-all-write').addEventListener('click', function() {
            var checkboxes = document.querySelectorAll('input[id^="write_assignment_"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });
        });
    </script>
</div>