<div id="<%= dom_id test %>">
  <p>
    <strong>Name:</strong>
    <%= test.name %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= test.points %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= test.test_type %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= test.target %>
  </p>

  <p>
    <strong>Include:</strong>
    <%= test.include_files %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= test.number %>
  </p>

  <p>
    <strong>Show output:</strong>
    <%= test.show_output %>
  </p>

  <p>
    <strong>Skip:</strong>
    <%= test.skip %>
  </p>

  <p>
    <strong>Timeout:</strong>
    <%= test.timeout %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= test.visibility %>
  </p>

  <p>
    <strong>Assignment:</strong>
    <%= test.assignment_id %>
  </p>

</div>
