<div id="<%= dom_id test %>">
  <p>
    <strong>Name:</strong>
    <%= test.name %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= test.points %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= test.type %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= test.target %>
  </p>

  <p>
    <strong>Include:</strong>
    <%= test.include %>
  </p>

  <p>