<h1>Edit Test for <%= @assignment.assignment_name %></h1>

<%= form_with(model: [@assignment, @test], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="field">
    <%= form.label :test_type %>
    <%= form.text_field :test_type %>  
  </div>

  <div class="field">
    <%= form.label :target %>
    <%= form.text_field :target %>
  </div>

  <div class="field">
    <%= form.label :include %>
    <%= form.text_area :include %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :show_output %>
    <%= form.check_box :show_output %>
  </div>

  <div class="field">
    <%= form.label :skip %>
    <%= form.check_box :skip %>
  </div>

  <div class="field">
    <%= form.label :timeout %>
    <%= form.number_field :timeout %>
  </div>

  <div class="field">
    <%= form.label :visibility %>
    <%= form.text_field :visibility %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Back to tests", assignment_tests_path(@assignment) %>
