<p style="color: green"><%= notice %></p>

<h3>Details of the Test</h3>
</br>

<%= render @test %>

<div>
  <%= link_to "Edit this test", edit_assignment_test_path(@assignment, @test), class: "btn btn-primary" %>
  <%= link_to "Back to tests", assignment_tests_path(@assignment), class: "btn btn-primary" %>
  <%= link_to "Back to Assignment", assignment_path(@assignment), class: "btn btn-primary" %>

  <%= button_to "Destroy this test", assignment_test_path(@assignment, @test), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

</div>
