<p style="color: green"><%= notice %></p>

<%= render @test %>

<div>
  <%= link_to "Edit this test", edit_assignment_test_path(@assignment, @test) %> |
  <%= link_to "Back to tests", assignment_tests_path(@assignment) %>

  <%= button_to "Destroy this test", assignment_test_path(@assignment, @test), method: :delete, data: { confirm: "Are you sure?" } %>

</div>
